/*body {
  font: 16px Montserrat, sans-serif;
  line-height: 1.8;
  color: black;
}*/
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
.bg-1 {
  background-color: rgb(25, 28, 31); /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-4 {
  background-color: #474e5d; /* Black Gray */
  color: black;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 5px;
  background-color: #474e5d;
}
.navbar-nav li a:hover {
  background-color: mediumvioletred !important;
}

.btn2 {
  color: whitesmoke;
  font-family: system-ui;
  padding: 7px 0px;
  width: 100px;
  background-color: #28282b;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.btn3:hover {
  background-color: mediumvioletred !important;
}
.btn2:hover {
  background-color: mediumvioletred !important;
}
.btn3 {
  color: black;
  font-family: system-ui;
  padding: 7px 0px;
  width: 100px;
  background-color: #ffffff;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 1px solid white;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: mediumvioletred;
}
